*{

	padding: 0;
	margin: 0;
}
header{
	width: 960px;
	height: auto;
	margin: 0 auto;
}
.nav{
	width: 960px;
	height: auto;
	background: #000;
}
.nav ul li{
	list-style: none;
	display: inline-block;
	position: relative;
}
.nav ul li a{
    display: block;
    padding: 20px 35px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 16px;

}
.nav ul li a:hover{
	color: red;
	background: green;
}
.nav ul li ul{
	position: absolute;
	background: #000;
	left: -9999px;

}
.nav ul li:hover ul{
	left: 0px;

}
.nav ul li ul li{
	width: 200px;
	border-bottom:1px solid #fff;

}
.banner-cover{

	height:480px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}
.banner-text{
	padding: 100px;
	text-align: center;
}
.banner-text button{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
	border: 0;
	background: #000;
	color: #fff;
	margin: 0px 8px;
    margin-top: 118px;
}
.about-logo img{
 width: 320px;
 height: auto;
 margin: 0px 10px ;
 margin-bottom: 10px ;
 box-shadow: 0px 8px 10px 0px #000;

}
.about-text{
	width: 520px;
	height: auto;
	padding: 0px 20px;
}
.about-text h2{
	font-size: 25px;
	font-weight: bold;
	text-transform: capitalize;
	border-bottom: 2px solid#fff;
	margin-bottom: 20px;
}

.about-text p{
 font-size: 16px;
 color: gray;
 line-height: 22px;
 text-align: justify;
}
.row{
	overflow: auto;
}
.col{
	float: left;
}
.about-section{
	background: #DCE7E5;
	padding: 40px 0px ;
	margin-top: 20px;
}
.title{
	width: 180px;
	height: auto;
	margin: 0 auto;

}
.title h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-bottom: 1px solid #fff;
	text-align: center;
	margin-bottom:30px ;
}
.service-section{
 background: #244e2d;
 padding: 40px 0px ;
 margin-top: 20px;

}
.service{
	width: 280px;
	height: auto;
	border: 1px solid #A0144F;
	text-align: center;
	display: inline-block;
	margin-bottom: 20px;
	margin-left: 27px;
}
.service h3{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	text-transform: uppercase;
}
.service p{
	font-size: 15px;
	color: gray;
	line-height: 22px;
	padding: 20px;
}
.service-icon{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: fff;
	transform: .5s;
}
.service-icon img:hover{
	color: yellow;
	transform: scale(0.8);
}
.contact{
	background: #fff;
	padding: 15px 15px 15px 80px;
	box-shadow: 0px 0px 10px #ccc;
	width: 180px;
	position: relative;
	display: inline-block;
	margin: 0px 8px;
	margin-left: 28px;
}
.contact-icon img{
	position: absolute;
	width: 50px;
	height: 50px;
	float: left;
	top: 8px;
	left: 15px;
	background: #222;
	text-align: center;
	color: #fff;
	line-height: 50px;
	font-size: 30px;
	transform: .5s;

}
.contact-icon img:hover {
 color: yellow;
 transform: scale(0.8);
}
.contact-text p {
	padding: 0px;
	margin: 0px;
	font-size: 18px;
	line-height: 22px;
}
.contact-section{
	background: #cacaca;
	padding: 40px 0px;
	margin-top: 20px;
}
.contact-form{
	width: 620px;
	margin: 0 auto;
	margin-top: 20px;
	margin-left: 213px;
}
.inputTag input{
	font-size: 20px;
	text-transform: capitalize;
	padding: 10px 10px;
	width: 500px;
	border: 0px;
	margin: 8px 0px;


}
.inputTag textarea{
	width: 518px;
	height: auto;
	margin-top: 10px;
	border: 0;
}
.inputTag button {
width: 84%;
margin-top: 14px;
padding: 10px 0px;
background: #0a0000;
color: #fff;
font-size: 20px;
font-weight: bold;
text-transform: uppercase;
border: 0;

}
footer{
	width: 960px;
	margin: 0 auto;
	height: auto;
	background: #000;
	color: #fff;
	padding: 30px 0px;
}

.footer-text{
	font-size: 10px;
	font-weight: bold;
	
	text-align: center;
}
.footer-icon{
	float: right;
}
.footer-icon img{
	font-size: 30px;
	padding: 0px 10px;
	transform: .5s;

}
.footer-icon img:hover{
	color: yellow;
	transform: scale(0.8);
}
